.admin-container {
    padding: 20px;
    background: #3f3a3a5d;
    border-radius: 8px;
    width: 900px;
    height: auto;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-container h1 {
    margin-bottom: 20px;
    color: #a5a4a4;
}

.admin-container form {
    margin-bottom: 20px;
}

.admin-container form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.admin-container form button {
    padding: 10px;
    background: #007bff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-container ul {
    list-style-type: none;
}

.admin-container ul li {
    margin: 10px 0;
}

.edit-button{
    background-color: #007bff;
    border: none;
    width: 20%;
    height: 4vh;
}

.delete-button{
    background-color: rgba(233, 20, 20, 0.856);
    border: none ;
    width: 20%;
    height: 4vh;
}

.Hide-button{
    background-color: #09e0d6b4;
    border: none ;
    width: 20%;
    height: 4vh;
}

.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.product-item{
    width: 45%;
}
